In [1]:
import pandas as pd
import numpy as np

# Análisis exploratorio de los datos y armado del informe

**Pendientes**
* Fecha poner en orden Ascendente
* **Df0Totalizar** : Importe, Km.Cargas, Comisión **INVESTIGAR**
* Completar salida a xls con demás solapas de equipos
*Pensar como vincular a df2, df3, dfi los demás datos

In [2]:
# Concatenar en un df todas las hojas del excel
data = pd.concat(pd.read_excel
                 (r"C:\Users\User\Documents\GitHub\Robot Viar\IRU\PPC\Octubre BASE Inf Rentabilidad.xlsx", sheet_name=None),
                 ignore_index=True)
data.head()

,Salida,Numero,Cliente,Importe,Factura,Origen,Destino,Fletero,Chofer,Equipo,Acoplado,Km.Cargas,Peso Real transportado,Tipo de Mercaderia,Comisión,Porcentaje Comisión
0,2021-10-29,3041862.0,INGRECOR S.A.,124523.50,FaVen Nro. 001100001340 - Fecha 23-11-2021,ARROYITO-ARCOR,VIRREY DEL PINO-MANAOS,TRANSPORTE VIAR SA,QUIROGA LUCAS,OXJ862,IGN994,671.0,34640.0,GLUCOSA,38228.71450,30.7
1,2021-10-28,3041280.0,INGRECOR S.A.,127589.63,FaVen Nro. 001100001344 - Fecha 23-11-2021,TUCUMAN-ARCOR,ARROYITO-ARCOR,TRANSPORTE VIAR SA,QUIROGA LUCAS,OXJ862,IGN994,700.0,34360.0,GLUCOSA,39170.01641,30.7
2,2021-10-27,2816633.0,VACIO,0.00,NaN,RECREO-ARCOR,TUCUMAN-ARCOR,TRANSPORTE VIAR SA,QUIROGA LUCAS,OXJ862,IGN994,275.0,0.0,VACIOS,0.00000,30.7
3,2021-10-26,3040062.0,INGRECOR S.A.,56117.06,FaVen Nro. 001100001344 - Fecha 23-11-2021,TUCUMAN-ARCOR,RECREO-ARCOR,TRANSPORTE VIAR SA,QUIROGA LUCAS,OXJ862,IGN994,275.0,33760.0,GLUCOSA,17227.93742,30.7
4,2021-10-25,2816590.0,VACIO,0.00,NaN,CORDOBA-PRITY,TUCUMAN-ARCOR,TRANSPORTE VIAR SA,QUIROGA LUCAS,OXJ862,IGN994,560.0,0.0,VACIOS,0.00000,30.7

In [3]:
data.shape

(931, 16)

In [4]:
# Formatear a datatime  "Salida"
print(type(data.Salida[0]))   
data['Salida'] = pd.to_datetime(data['Salida'])   
print(type(data.Salida[0]))

# Ordenar en forma ascendente la fechas 
data.sort_values(by='Salida',ascending=True) # ver porque no lo pone en forma ascendente
data.head()

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

,Salida,Numero,Cliente,Importe,Factura,Origen,Destino,Fletero,Chofer,Equipo,Acoplado,Km.Cargas,Peso Real transportado,Tipo de Mercaderia,Comisión,Porcentaje Comisión
0,2021-10-29,3041862.0,INGRECOR S.A.,124523.50,FaVen Nro. 001100001340 - Fecha 23-11-2021,ARROYITO-ARCOR,VIRREY DEL PINO-MANAOS,TRANSPORTE VIAR SA,QUIROGA LUCAS,OXJ862,IGN994,671.0,34640.0,GLUCOSA,38228.71450,30.7
1,2021-10-28,3041280.0,INGRECOR S.A.,127589.63,FaVen Nro. 001100001344 - Fecha 23-11-2021,TUCUMAN-ARCOR,ARROYITO-ARCOR,TRANSPORTE VIAR SA,QUIROGA LUCAS,OXJ862,IGN994,700.0,34360.0,GLUCOSA,39170.01641,30.7
2,2021-10-27,2816633.0,VACIO,0.00,NaN,RECREO-ARCOR,TUCUMAN-ARCOR,TRANSPORTE VIAR SA,QUIROGA LUCAS,OXJ862,IGN994,275.0,0.0,VACIOS,0.00000,30.7
3,2021-10-26,3040062.0,INGRECOR S.A.,56117.06,FaVen Nro. 001100001344 - Fecha 23-11-2021,TUCUMAN-ARCOR,RECREO-ARCOR,TRANSPORTE VIAR SA,QUIROGA LUCAS,OXJ862,IGN994,275.0,33760.0,GLUCOSA,17227.93742,30.7
4,2021-10-25,2816590.0,VACIO,0.00,NaN,CORDOBA-PRITY,TUCUMAN-ARCOR,TRANSPORTE VIAR SA,QUIROGA LUCAS,OXJ862,IGN994,560.0,0.0,VACIOS,0.00000,30.7

##  Generar un archivo excel por cada equipo

In [5]:
data.Equipo.unique()

array(['OXJ862', nan, 'ORO021', 'OMA273', 'MMN880', 'MMN838', 'MBP526',
       'MAV483', 'LUY734', 'KWO766', 'KSS334', 'KSL959', 'KOL760',
       'KOE220', 'KNQ676', 'KNA501', 'KMU569', 'KHL103', 'KGF058',
       'JZP219', 'JRY934', 'JJA110', 'IIJ763', 'HZG214', 'HWF026',
       'HWF024', 'HVW275', 'HVE658', 'HPJ126', 'FWT827', 'AE502ET',
       'AD864HO', 'AD533SA', 'AD414GZ', 'AD414GY', 'AC377BI', 'AC136AZ',
       'AC121PK', 'AC121PJ', 'AC121PI', 'AC121PH', 'AB687SH', 'AB631DS',
       'AB595CA', 'AB206GS', 'AA996WC', 'AA702TE', 'AA612XR', 'AA327US'],
      dtype=object)

In [6]:
len(data.Equipo.unique())

49

In [7]:
#data[data["Equipo"]=='OXJ862']

In [8]:

#for i in data.Equipo.unique():      # por cada uno de los equipos iterables en unique
    #data2=data[data["Equipo"]==i]   # 
    #data2.to_excel(f"{i}.xlsx", index=False)

In [9]:
#data[data["Equipo"]=='OXJ862']

In [10]:
#data2.shape

## Ordenar solapas en excel:

In [11]:
# Generar dataframes por cada EQUIPO

In [12]:
data.Equipo.unique()

array(['OXJ862', nan, 'ORO021', 'OMA273', 'MMN880', 'MMN838', 'MBP526',
       'MAV483', 'LUY734', 'KWO766', 'KSS334', 'KSL959', 'KOL760',
       'KOE220', 'KNQ676', 'KNA501', 'KMU569', 'KHL103', 'KGF058',
       'JZP219', 'JRY934', 'JJA110', 'IIJ763', 'HZG214', 'HWF026',
       'HWF024', 'HVW275', 'HVE658', 'HPJ126', 'FWT827', 'AE502ET',
       'AD864HO', 'AD533SA', 'AD414GZ', 'AD414GY', 'AC377BI', 'AC136AZ',
       'AC121PK', 'AC121PJ', 'AC121PI', 'AC121PH', 'AB687SH', 'AB631DS',
       'AB595CA', 'AB206GS', 'AA996WC', 'AA702TE', 'AA612XR', 'AA327US'],
      dtype=object)

In [13]:
orden_solapas = pd.read_excel(r"C:\Users\User\Documents\GitHub\Robot Viar\IRU\PPC\orden_solapas.xlsx")
orden_solapas = orden_solapas.drop(orden_solapas.index[[0]])
orden_solapas.columns = ["Equipo", "Nombre_hoja"]
orden_solapas.head()

    Equipo   Nombre_hoja
1  AC121PH  AC121PH_VIAR
2  AC121PI  AC121PI_VIAR
3  AC121PJ  AC121PJ_VIAR
4  AC121PK  AC121PK_VIAR
5  AD414GY  AD414GY_VIAR

In [14]:
#orden_solapas.Equipo.unique

In [15]:
AC121PH = data[data["Equipo"]=='AC121PH']
#AC121PH.tail()
#len(AC121PH)

In [16]:
# Crear dataframes indiciduales por cada Equipo
AC121PH = data[data["Equipo"]=='AC121PH']
AC121PI = data[data["Equipo"]=='AC121PI']
AC121PJ = data[data["Equipo"]=='AC121PJ']
AC121PK = data[data["Equipo"]=='AC121PK']
AD414GY = data[data["Equipo"]=='AD414GY']
AD414GZ = data[data["Equipo"]=='AD414GZ']
AD533SA = data[data["Equipo"]=='AD533SA']
FWT827 = data[data["Equipo"]=='FWT827']
HWF024 = data[data["Equipo"]=='HWF024']
HWF026 = data[data["Equipo"]=='HWF026']
JRY934 = data[data["Equipo"]=='JRY934']
JZP219 = data[data["Equipo"]=='JZP219']
KMU569 = data[data["Equipo"]=='KMU569']
KOE278 = data[data["Equipo"]=='KOE278']
KOL760 = data[data["Equipo"]=='KOL760']
KWO766 = data[data["Equipo"]=='KWO766']
LUY734 = data[data["Equipo"]=='LUY734']
MAV483 = data[data["Equipo"]=='MAV483']
MMN838 = data[data["Equipo"]=='MMN838']
ORO021 = data[data["Equipo"]=='ORO021']
OXJ862 = data[data["Equipo"]=='OXJ862']
KHL103 = data[data["Equipo"]=='KHL103']
EKW438 = data[data["Equipo"]=='EKW438']
KSS334 = data[data["Equipo"]=='KSS334']
KNA501 = data[data["Equipo"]=='KNA501']
HPJ126 = data[data["Equipo"]=='HPJ126']
MMN880 = data[data["Equipo"]=='MMN880']
JJA110 = data[data["Equipo"]=='JJA110']
AA702TE = data[data["Equipo"]=='AA702TE']
AB595CA = data[data["Equipo"]=='AB595CA']
FWT826 = data[data["Equipo"]=='FWT826']
KOE220 = data[data["Equipo"]=='KOE220']
KSL959 = data[data["Equipo"]=='KSL959']
AA996WC = data[data["Equipo"]=='AA996WC']
AD864HO = data[data["Equipo"]=='AD864HO']
AC377BI = data[data["Equipo"]=='AC377BI']
AA612XR = data[data["Equipo"]=='AA612XR']
HVE658 = data[data["Equipo"]=='HVE658']
KNQ676 = data[data["Equipo"]=='KNQ676']
OMA273 = data[data["Equipo"]=='OMA273']
KGF058 = data[data["Equipo"]=='KGF058']
AE502ET = data[data["Equipo"]=='AE502ET']
MBP526 = data[data["Equipo"]=='MBP526']
AB206GS = data[data["Equipo"]=='AB206GS']
AA327US = data[data["Equipo"]=='AA327US']
AB631DS = data[data["Equipo"]=='AB631DS']
HVW275 = data[data["Equipo"]=='HVW275']
HZG214 = data[data["Equipo"]=='HZG214']
IIJ763 = data[data["Equipo"]=='IIJ763']
AB687SH = data[data["Equipo"]=='AB687SH']
AC136AZ = data[data["Equipo"]=='AC136AZ']

In [17]:
#orden_solapas.Nombre_hoja.unique

In [18]:
# Intento totalizador por filas error
#AC121PH.loc["Total"] = AC121PH.sum(axis=0)
#AC121PH.tail()

df2: T. prom x Kms/Consumo Lts./Cons. c/100 Km/Precio por Litro/Incidencia Combustible/Incidencia Sueldo/Días parados

In [19]:
# Crear df2.
df2 = pd.DataFrame( columns=["T. prom x Kms", "Consumo Lts.", "Cons. c/100 Km", "Precio por Litro",
                             "Incidencia Combustible", "Incidencia Sueldo", "Días parados"])
df2.head()

Empty DataFrame
Columns: [T. prom x Kms, Consumo Lts., Cons. c/100 Km, Precio por Litro, Incidencia Combustible, Incidencia Sueldo, Días parados]
Index: []

df3: TRACTOR SEMI

 Facturado
 Comisión
 Cubiertas
 Combustible
 UREA
 Patente Pcial.
 Patente Munic.
 Seguro
 Sueldo
 Gastos
 TOTAL GASTOS
 NETO

In [20]:
# Crear df3.
df3 = pd.DataFrame(columns=["TRACTOR", "SEMI"], index=["Facturado", "Comisión", "Cubiertas", "Combustible", "UREA",
                                                       "Patente Pcial", "Patente Munici.", "Seguro", "Gastos",
                                                       "TOTAL GASTOS", "NETO", 
])
df3.head(11)

                TRACTOR SEMI
Facturado           NaN  NaN
Comisión            NaN  NaN
Cubiertas           NaN  NaN
Combustible         NaN  NaN
UREA                NaN  NaN
Patente Pcial       NaN  NaN
Patente Munici.     NaN  NaN
Seguro              NaN  NaN
Gastos              NaN  NaN
TOTAL GASTOS        NaN  NaN
NETO                NaN  NaN

In [21]:
# Exportar a excel el informe.
with pd.ExcelWriter(r'C:\Users\User\Documents\GitHub\Robot Viar\IRU\Outputs\Inf_rent_unid.xlsx') as writer:  
    AC121PH.to_excel(writer, sheet_name='AC121PH_VIAR',startrow=2, index= False)
    df2.to_excel(writer, sheet_name='AC121PH_VIAR', startrow=33,index= False) 
    df3.to_excel(writer, sheet_name='AC121PH_VIAR', startrow=36)
    
    AC121PJ.to_excel(writer, sheet_name='AC121PJ_VIAR', startrow=2, index= False)
    df2.to_excel(writer, sheet_name='AC121PJ_VIAR', startrow=33,index= False)
    df3.to_excel(writer, sheet_name='AC121PJ_VIAR', startrow=36)